[client]
port   = 3306
socket = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice   = 0

[mysql]
default-character-set = utf8mb4

[mysqld]
### Basic Settings
port                  = 3306
user                  = mysql
pid-file              = /var/run/mysqld/mysqld.pid
socket                = /var/run/mysqld/mysqld.sock
basedir               = /usr
datadir               = /var/lib/mysql
tmpdir                = /var/lib/mysql-data/mysql-tmp
skip-external-locking
skip-name-resolve
secure_file_priv      = /var/lib/mysql-data/mysql-files
mysql_native_password = ON

## Server Character Set and Collation
init_connect         = 'SET NAMES utf8mb4 COLLATE utf8mb4_0900_ai_ci'
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

## File Descriptors
open_files_limit       = 32000
table_open_cache       = 3584
table_definition_cache = 2192

## Thread
thread_stack              = 192K
thread_cache_size         = 64
thread_handling           = pool-of-threads
thread_pool_oversubscribe = 10

## Connections
max_connections = 600

# Connection Buffers
read_buffer_size     = 131072                   # for order by and insert
read_rnd_buffer_size = 2M                       # for order by
sort_buffer_size     = 2M                       # for order by and group by

## Temporary Tables
default_tmp_storage_engine = MEMORY
tmp_table_size             = 2048M
max_heap_table_size        = 2048M

## Network Packet
max_allowed_packet = 32M

## Logs
# Error Log
log_error_verbosity = 2
log_error           = /var/lib/mysql/server.err

# Slow Log
log_output                        = 'FILE'      # for pmm-client
slow_query_log                    = 1           # for pmm-client
long_query_time                   = 0           # for pmm-client
log_slow_admin_statements         = 1           # for pmm-client
log_slow_replica_statements       = 1           # for pmm-client
log_slow_rate_limit               = 100         # for pmm-client
log_slow_rate_type                = 'query'     # for pmm-client
slow_query_log_always_write_time  = 1           # for pmm-client
log_slow_verbosity                = 'full'      # for pmm-client
slow_query_log_use_global_control = 'all'       # for pmm-client
slow_query_log_file               = /var/lib/mysql/server-slow.log
log_query_errors                  = 'all'

## Transaction
transaction_isolation = READ-COMMITTED

### Replication
server-id                  = {{ server_id }}
log-bin                    = mysql-bin
relay-log                  = mysqld-relay-bin
binlog_format              = ROW
max_binlog_size            = 100M
binlog-ignore-db           = myrobofx_non_replica
binlog-ignore-db           = statistics_client
binlog_expire_logs_seconds = 259200             # 3 day
binlog_row_image           = minimal            # Only for binlog_format = ROW
sync_binlog                = 1
# log_replica_updates      = on

### Engine InnoDB
default-storage-engine         = InnoDB
innodb_open_files              = 8192
innodb_file_per_table          = 1
innodb_flush_log_at_trx_commit = 2
innodb_purge_threads           = 8
innodb_autoinc_lock_mode       = 2

## Buffer Pool
innodb_buffer_pool_size      = 150G
innodb_buffer_pool_instances = 8
innodb_page_cleaners         = 8

# Change Buffer
innodb_change_buffering       = all
innodb_change_buffer_max_size = 5               # default value 25

# Adaptive Hash Index
innodb_adaptive_hash_index = off

## Log Buffer
# Redo Log
innodb_log_file_size   = 6G
innodb_log_buffer_size = 32M

# Undo Log
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 1G

## Disk I/O
innodb_flush_method       = O_DIRECT
innodb_io_capacity        = 2500
innodb_io_capacity_max    = 4000
innodb_checksum_algorithm = crc32
innodb_use_native_aio     = 0
innodb_stats_on_metadata  = 0
innodb_lru_scan_depth     = 256

## Thread Concurrency
innodb_thread_concurrency = 256
innodb_sync_spin_loops    = 200

## Stats
innodb_stats_persistent              = 1
innodb_stats_auto_recalc             = 1
innodb_stats_persistent_sample_pages = 50
innodb_monitor_enable                = all
userstat                             = OFF
thread_statistics                    = OFF
jemalloc_profiling                   = ON

### Engine MyISAM
key_buffer_size          = 0
key_cache_division_limit = 70
myisam_sort_buffer_size  = 4096

### Performance Schema
performance_schema                                         = on
performance-schema-instrument                              = 'statement/%=ON'
performance-schema-consumer-events-statements-current      = ON
performance-schema-consumer-events-statements-history      = ON
performance-schema-consumer-events-statements-history-long = ON
performance-schema-consumer-statements-digest              = ON
performance-schema-instrument                              = 'wait/%=ON'
performance-schema-consumer-events-waits-current           = ON
performance-schema-consumer-events-waits-history           = ON
performance-schema-consumer-events-waits-history-long      = ON

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[isamchk]
key_buffer = 16M
